<!DOCTYPE html>
<html>

<head>
    <title>Appointment Book</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <h1>Appointment Book</h1>
        <form action="logout">
            <button class="logout" action="logout">Logout</button>
        </form>
    </header>

    <div class="top_box">
        <h2> Hey {{ username }}!</h2>
        <h3> Welcome to your Appointment book! </h3>

    </div>

    <div class="horiz_divider"></div>

    <div class="appointments_box">
        {% if appointments %}
        <h2>Appointments</h2>
        <div class="search">
            <button class="add_appointment" onclick="openPopup()">Add Appointment</button>
            <form method="post" id="search">
                <label for="search">Search:</label>
                <input type="text" id="search" name="search" onchange="submitSearch()">
                <input type="hidden" name="type" value="search">
            </form>
        </div>
        <ul class="appointment_list">
            {% for id, appoint in appointments %}
            <li class="appointment">
                <span class="appointment_date">{{ appoint.0 }}</span>
                <span class="appointment_description">{{ appoint.1 }}</span>

                <form class="std" method="post">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="type" value="delete">
                    <button class="delete_appointment">X</button>
                </form>
            </li>
            {% endfor %}
        </ul>


        {% else %}
        <h2>
            Start by adding some appointments!
        </h2>
        <button class="add_appointment" onclick="openPopup()">
            Add Appointment
        </button>
        {% endif %}
    </div>

    <div class="main_box">
        <div class="popup" id="appointment_popup">
            <form method="POST">
                <input type="hidden" name="type" value="add_appointment">
                <label for="name">Appointment Name:</label>
                <input type="text" id="name" name="name">
                <br><br>
                <label for="date">Appointment Date:</label>
                <input type="date" id="date" name="date">
                <br><br>
                <input type="submit" value="Add">
                <button type="button" onclick="closePopup()">Cancel</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer-left">
            <p>COS 332</p>
        </div>
        <div class="footer-right">
            <p>Richard Lastrucci(20430168) & Thabo Chesane(20507102)</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>

</html>