html {
  height: 100vh;
  width: 100%;
  font-family: 'Courier New', Courier, monospace
}

main {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style for the header container */
header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Style for the header title */
header h1 {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  float: left;
  font-size: 14px;
  text-align: left;
}

/* Set the styles for the text on the right side of the footer */
.footer-right {
  float: right;
  font-size: 14px;
  text-align: right;
}

.main_div {
  height: 80%;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  height: 50%;
}

.message a {
  color: black;
}
.message a:hover {
  border: 10px;
  border-color: red;
  padding: 5px;
  background-color: black;
  color: white;
}

.wrong {
  color: white;
  background-color: #7b1114;
}

.right {
  color: white;
  background-color: #2f4c39;
}
